
.search-input-container {
  background: #F0F0F0;
  position: relative;
  border-radius: 36px;
  max-width: fit-content;
  margin-inline-end: 1rem;


  & input {
    background: transparent;
    padding: 0.5rem 1rem;
    border: none;
    margin-inline-start: 1rem;

    &:focus {
      outline: none;
    }
  }

  & .search-icon {
    position: absolute;
    top: 30%;
    margin-inline-start: 10px;
  }
}
