<div *ngIf="userDetails" class="details-container m-3 p-3 bg-white">
  <div
    class="w-100 alert alert-primary"
    *ngIf="userDetails?.isBanned"
  >
    {{ "MOBILE_USERS.BANNED_USER" | translate }}
  </div>
  <div class="d-flex justify-content-end mb-2" *ngxPermissionsOnly="'canAssignPremiumFeaturesToAppUsers'">
    <button
      *ngIf="!userDetails.isSubscribed"
      mat-raised-button
      color="primary"
      (click)="openMakePremiumDialog()"
    >
        <span class="text-white">{{
          "MOBILE_USERS.MAKE_PREMIUM" | translate
          }}</span>
    </button>
  </div>
  <div>
    <div class="w-100 user-details-header d-flex justify-content-between">
      <div
        class="px-3 base-info-container flex-fill d-flex justify-content-between align-items-center"
      >
        <div
          class="d-flex overflow-hidden justify-content-start align-items-center info-section"
        >
          <img
            class="user-image"
            appProfileImage
            [imageUrl]="userDetails?.profileImage"
            [alt]="userDetails?.name"
          />
          <div>
            <span
              *ngIf="userDetails.isManuallySubscribed"
              class="manual-subscription"
              ><i class="fa-regular fa-star manual-subscription-icon"></i>
              {{ "MOBILE_USERS.SUBSCRIBED_FROM_CLINIC" | translate }}</span
            >
            <p
              class="m-0 fw-bold text-truncate"
              [matTooltip]="userDetails?.name"
            >
              {{ userDetails?.name ?? ("SHARED.NOT_AVAILABLE" | translate) }}
            </p>
          </div>
          <div *ngxPermissionsOnly="'canBanAppUsers'" class="m-3">
            <button
              mat-stroked-button color="warn"
              *ngIf="!userDetails.isBanned"
              class="mt-2"
              (click)="banUser(userDetails.id)"
            >
              {{ "MOBILE_USERS.BAN_USER" | translate }}
            </button>
            <button
              mat-stroked-button color="warn"
              *ngIf="userDetails.isBanned"
              class="mt-2"
              (click)="unBanUser(userDetails.id)"
            >
              {{ "MOBILE_USERS.UNBAN_USER" | translate }}
            </button>
          </div>
        </div>

        <div
          class="d-flex mx-3 overflow-hidden justify-content-center px-2 info-section"
        >
          <div
            class="d-flex flex-column justify-content-center align-items-start"
          >
            <p [matTooltip]="userDetails?.gender">
              <span class="text-nowrap"
                >{{ "MOBILE_USERS.GENDER" | translate }}:</span
              >
              <span class="text-truncate">{{
                userDetails?.gender
                  ? userDetails?.gender
                  : ("SHARED.NOT_AVAILABLE" | translate)
              }}</span>
            </p>
            <span [matTooltip]="userDetails?.age?.toString()">
              <span class="text-nowrap"
                >{{ "MOBILE_USERS.AGE" | translate }}:</span
              >
              <span class="text-truncate">{{
                userDetails?.age
                  ? userDetails?.age
                  : ("SHARED.NOT_AVAILABLE" | translate)
              }}</span>
            </span>
          </div>
        </div>

        <div
          *ngxPermissionsOnly="'canViewAppUserContactInfo'"
          class="d-flex overflow-hidden flex-column justify-content-start align-items-start info-section"
        >
          <p [matTooltip]="userDetails?.email">
            <span class="text-nowrap"
              >{{ "MOBILE_USERS.EMAIL" | translate }}:</span
            >
            <span class="text-truncate">{{
              userDetails?.email
                ? userDetails?.email
                : ("SHARED.NOT_AVAILABLE" | translate)
            }}</span>
          </p>
          <span [matTooltip]="userDetails?.phoneNumber">
            <span class="text-nowrap"
              >{{ "MOBILE_USERS.PHONE_NUMBER" | translate }}:</span
            >
            <span class="text-truncate">{{
              userDetails?.phoneNumber
                ? userDetails?.phoneNumber
                : ("SHARED.NOT_AVAILABLE" | translate)
            }}</span>
          </span>
        </div>
      </div>
      <div>
        <div class="user-measurements-container">
          <!--        <span class="user-measurement-data">-->
          <!--          <p class="user-measurement-title">-->
          <!--            {{ "MOBILE_USERS.AGE" | translate }}-->
          <!--          </p>-->
          <!--          <p>{{ userDetails?.age }}</p>-->
          <!--        </span>-->
          <!--        <div class="vertical-line"></div>-->

          <!--        <span class="user-measurement-data">-->
          <!--          <p class="user-measurement-title">-->
          <!--            {{ "MOBILE_USERS.GENDER" | translate }}-->
          <!--          </p>-->
          <!--          <p>{{ userDetails?.gender ?? ('SHARED.NOT_AVAILABLE' | translate) }}</p>-->
          <!--        </span>-->

          <!--        <div class="vertical-line"></div>-->

          <span class="user-measurement-data">
            <p class="user-measurement-title">
              {{ "MOBILE_USERS.HEIGHT" | translate }}
            </p>
            <p>{{ userDetails?.height }}</p>
          </span>
          <div class="vertical-line"></div>

          <span class="user-measurement-data">
            <p class="user-measurement-title">
              {{ "MOBILE_USERS.WEIGHT" | translate }}
            </p>
            <p>{{ userDetails?.currentWeight }}</p>
          </span>

          <div class="vertical-line"></div>

          <span class="user-measurement-data">
            <p class="user-measurement-title">
              {{ "MOBILE_USERS.WEIGHT_LOSS" | translate }}
            </p>
            <p>
              {{
                (userDetails?.weightLoss > 0 ? "+" : "") +
                  userDetails?.weightLoss.toString()
              }}
            </p>
          </span>
        </div>
      </div>
    </div>
    <hr />

    <div class="w-100 d-flex justify-content-between">
      <span>
        <p>{{ "MOBILE_USERS.SIGN_UP_DATE" | translate }}</p>
        <p>{{ userDetails?.created | date : "dd-MM-YYYY" }}</p>
      </span>
      <span>
        <p>{{ "MOBILE_USERS.SUBSCRIBE_DATE" | translate }}</p>
        <p>
          {{
            !userDetails?.isSubscribed
              ? ("MOBILE_USERS.UNSUBSCRIBED" | translate)
              : (userDetails?.subscriptionDate | date : "dd-MM-YYYY")
          }}
        </p>
      </span>
      <span>
        <p>{{ "MOBILE_USERS.PAID_AMOUNT" | translate }}</p>
        <p>
          {{
            userDetails?.totalPaidAmount
              ? (userDetails?.totalPaidAmount | number : "1.0-2")
              : ("SHARED.NOT_AVAILABLE" | translate)
          }}
        </p>
      </span>

      <span>
        <p>{{ "SOCIAL.TOTAL_COMMENTS_NUMBER" | translate }}</p>
        <p>{{ userDetails?.totals.comments }}</p>
      </span>

      <span>
        <p>{{ "SOCIAL.TOTAL_LIKES_NUMBER" | translate }}</p>
        <p>{{ userDetails?.totals.likes }}</p>
      </span>

      <span>
        <p>
          {{ "MEALS_PLAN.NUMBER_OF_I_AM_HUNGRY_CLICKED_THIS_WEEK" | translate }}
        </p>
        <p>{{ userDetails?.currentPlan?.numberOfIAmHungryClicked ?? 0 }}</p>
      </span>
    </div>

    <div class="w-100 d-flex flex-fill">
      <div class="user-meals" *ngIf="userDetails.isSubscribed">
        <div *ngxPermissionsOnly="'canViewAppUserContactInfo'" class="section">
          <mat-tab-group class="w-100 m-3">
              <mat-tab label="{{ 'MOBILE_USERS.NOTES_FOR_DOCTORS' | translate }}"> 
                <div>
                  <div style="margin-top: 30px;margin-right: 30px;" class="d-flex justify-content-start" *ngxPermissionsOnly="'canAssignPremiumFeaturesToAppUsers'">
                    <!-- <button
                    style="margin-right: 20px;"
                      mat-raised-button
                      color="primary"
                      (click)="userDocuments()"
                    >
                        <span class="text-white">User Documents</span>
                    </button> -->
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="openDialog()"
                    >
                        <span class="text-white">{{
                          "MOBILE_USERS.ADD_NOTES" | translate
                          }}</span>
                    </button>
                  </div>
                    <div style="margin-right: 30px;">
                      <mat-form-field appearance="standard">
                        <mat-label>Search</mat-label>
                        <input class="m-1" matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                      </mat-form-field>
                      
                      <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>
                      
                          <!-- Title Column -->
                          <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                            <td mat-cell *matCellDef="let row"> {{row.title | slice:0:20}} </td>
                          </ng-container>
                      
                          <!-- Notes Column -->
                          <ng-container matColumnDef="notes">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes </th>
                            <td mat-cell *matCellDef="let row"> {{row.notes | slice:0:30}}</td>
                          </ng-container>
                          <!-- Date Column -->
                          <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                            <td mat-cell *matCellDef="let row"> {{row.date | date}}</td>
                          </ng-container>
                          <!-- Action Column -->
                          <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                            <td mat-cell *matCellDef="let row">
                              <button mat-button  color="warn" (click)="uploadDocument(row)">
                                <mat-icon>cloud_upload</mat-icon>
                              </button>
                              <!-- <button mat-button  color="warn">
                                <mat-icon>remove_red_eye</mat-icon>
                              </button> -->
                              <button mat-icon-button color="warn" (click)="editNote(row)">
                                <mat-icon>edit</mat-icon>
                              </button>
                              <button mat-icon-button color="warn" (click)="deleteNote(row.id)">
                                <mat-icon>delete</mat-icon>
                              </button>
                            </td>
                          </ng-container>
                          <tr style="background-color: #1A1A27;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      
                          <!-- Row shown when there is no matching data. -->
                          <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                          </tr>
                        </table>
                      
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                      </div>                      
                    </div>
                  
                </div>
              </mat-tab>
              <mat-tab label="{{ 'MOBILE_USERS.TRACKERS' | translate }}"> 
                <div class="d-flex align-items-start mt-4">
                  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button style="background-color: #ff725a;" class="nav-link active mb-3" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Water  <i class="fa-solid fa-droplet"></i></button>
                    <button  style="background-color: #ff725a;" class="nav-link mb-3" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Moods  <i class="fa fa-cubes" aria-hidden="true"></i></button>
                    <button  style="background-color: #ff725a;" class="nav-link mb-3" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Weight  <i class="fa-solid fa-weight-scale"></i></button>
                    <button  style="background-color: #ff725a;"style="background-color: #ff725a;" class="nav-link mb-3" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Measurement  <i class="fa-solid fa-ruler"></i></button>
                    <button  style="background-color: #ff725a;"style="background-color: #ff725a;" class="nav-link mb-3" id="v-pills-steps-tab" data-bs-toggle="pill" data-bs-target="#v-pills-steps" type="button" role="tab" aria-controls="v-pills-steps" aria-selected="false">Steps <i class="fa-solid fa-shoe-prints"></i></button>
                    <button  style="background-color: #ff725a;"style="background-color: #ff725a;" class="nav-link mb-3" id="v-pills-sleep-tab" data-bs-toggle="pill" data-bs-target="#v-pills-sleep" type="button" role="tab" aria-controls="v-pills-sleep" aria-selected="false">Sleep <i class="fa-regular fa-moon"></i></button>
                    <button  style="background-color: #ff725a;"style="background-color: #ff725a;" class="nav-link mb-3" id="v-pills-heart-tab" data-bs-toggle="pill" data-bs-target="#v-pills-heart" type="button" role="tab" aria-controls="v-pills-heart" aria-selected="false">Heart <i class="fa-solid fa-heart-pulse"></i></button>
                    <button *ngIf="userDetails?.gender == 'Female' "  style="background-color: #ff725a;"style="background-color: #ff725a;" class="nav-link mb-3" id="v-pills-period-tab" data-bs-toggle="pill" data-bs-target="#v-pills-period" type="button" role="tab" aria-controls="v-pills-period" aria-selected="false">Period <i class="fa-solid fa-venus"></i></button>
                    <button  style="background-color: #ff725a;"style="background-color: #ff725a;" class="nav-link mb-3" id="v-pills-meal-tab" data-bs-toggle="pill" data-bs-target="#v-pills-meal" type="button" role="tab" aria-controls="v-pills-meal" aria-selected="false">Log Meal <i class="fa-solid fa-utensils"></i></button>
                  </div>
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active pt-2" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                      <!-- <div class="col-md-3 no-padding">
                        <label>Chart Type</label>
                      
                        <select (change)="onChange($event)" formControlName="replytype" class="form-control select2" type="text" style="width: 100%;">
                          <option selected value="Bar">Bar</option>
                          <option value="Line">Line</option>
                        </select>
                      </div>      -->
                   <div *ngIf="selectedType == 'Bar'" style="margin-left: 10px;">
                    <ngx-charts-bar-vertical [results]="getWaterBare" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel" [yAxisLabel]="getWaterlable" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                    [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks_2" [showDataLabel]="showDataLabel"
                    [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
                  </ngx-charts-bar-vertical>
                   </div>
                   <div *ngIf="selectedType == 'Line'" style="margin-left: 10px;">
                    <ngx-charts-pie-chart [results]="getWaterBare" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [legend]="legend"
                    [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" 
                    [tooltipDisabled]="tooltipDisabled">
                  </ngx-charts-pie-chart>
                   </div>
                    </div>
                    <div class="tab-pane fade pt-2" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">  
                      <div class="container" style="margin-left: 20px;">
                        <div  class="container mb-3" *ngFor="let mood of userMood">
                          <div class="card" *ngIf="mood.emoji.endsWith('12;')">
                            <div class="card-header fw-bold">{{mood.date | date}}</div>
                            <div class="card-body"><span style="font-size:20px;">😀</span> {{mood.note}}</div>
                          </div>
                        </div>
                        <div  class="container mb-3" *ngFor="let mood of userMood">
                          <div class="card" *ngIf="mood.emoji.endsWith('28;')">
                            <div class="card-header fw-bold">{{mood.date | date}}</div>
                            <div class="card-body"><span style="font-size:20px;">😐</span> {{mood.note}}</div>
                          </div>
                        </div>
                        <div  class="container mb-3" *ngFor="let mood of userMood">
                          <div class="card" *ngIf="mood.emoji.endsWith('14;')">
                            <div class="card-header fw-bold">{{mood.date | date}}</div>
                            <div class="card-body"><span style="font-size:20px;">😂</span> {{mood.note}}</div>
                          </div>
                        </div>
                        <div  class="container mb-3 " *ngFor="let mood of userMood">
                          <div class="card" *ngIf="mood.emoji.endsWith('24;')">
                            <div class="card-header fw-bold">{{mood.date | date}}</div>
                            <div class="card-body"><span style="font-size:20px;">😌</span> {{mood.note}}</div>
                          </div>
                        </div>
                        <div  class="container mb-3" *ngFor="let mood of userMood">
                          <div class="card" *ngIf="mood.emoji.endsWith('25;')">
                            <div class="card-header fw-bold">{{mood.date | date}}</div>
                            <div class="card-body"><span style="font-size:20px;">😍</span> {{mood.note}}</div>
                          </div>
                        </div>
                        <div  class="container mb-3" *ngFor="let mood of userMood">
                          <div class="card" *ngIf="mood.emoji.endsWith('45;')">
                            <div class="card-header fw-bold">{{mood.date | date}}</div>
                            <div class="card-body"><span style="font-size:20px;">😡</span> {{mood.note}}</div>
                          </div>
                        </div>
                        <div  class="container mb-3" *ngFor="let mood of userMood">
                          <div class="card" *ngIf="mood.emoji.endsWith('49;')">
                            <div class="card-header fw-bold">{{mood.date | date}}</div>
                            <div class="card-body"><span style="font-size:20px;">😥</span> {{mood.note}}</div>
                          </div>
                        </div>
                        <div  class="container mb-3" *ngFor="let mood of userMood">
                          <div class="card" *ngIf="mood.emoji.endsWith('57;')">
                            <div class="card-header fw-bold">{{mood.date | date}}</div>
                            <div class="card-body"><span style="font-size:20px;">😭</span> {{mood.note}}</div>
                          </div>
                        </div>
                      
                        <div *ngIf="!userMood">
                          <h2>No Data Available</h2>
                        </div>
                        
                       </div>
                  </div>
                    <div class="tab-pane fade pt-2" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                      <mat-tab-group>
                        <mat-tab label="Daily">
                          <div style="margin-left: 10px;margin-right: 15px;">
                            <div style="margin-top: 20px;">
                            <ngx-charts-bar-vertical [results]="getWeghitDailyBar" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                            [xAxisLabel]="getWeghitDailylable" [yAxisLabel]="getWeghitDailylable" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                            [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks" [showDataLabel]="showDataLabel"
                            [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
                          </ngx-charts-bar-vertical>
                        </div>
                           </div>
                        </mat-tab>
                        <mat-tab label="Monthly">
                          <div style="margin-left: 10px;margin-right: 15px;">
                            <div style="margin-top: 20px;">
                            <ngx-charts-bar-vertical [results]="getWeghitMonthlyBar" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                            [xAxisLabel]="getWeghitMonthlylable" [yAxisLabel]="getWeghitMonthlylable" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                            [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks" [showDataLabel]="showDataLabel"
                            [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
                          </ngx-charts-bar-vertical>
                        </div>
                           </div>
                        </mat-tab>
                      </mat-tab-group>
                    </div>
                    <div class="tab-pane fade pt-2" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                      <div style="margin-left: 10px;">
                        <mat-tab-group>
                          <mat-tab label="Daily">
                            <div style="margin-left: 10px;margin-right: 15px;">
                              <div style="margin-top: 20px;">
                            <ngx-charts-bar-vertical [results]="getBustDailyBar" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                              [xAxisLabel]="getBustDailylable" [yAxisLabel]="getBustDailylable" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                              [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks" [showDataLabel]="showDataLabel"
                              [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
                            </ngx-charts-bar-vertical>
                          </div>
                            <hr>
                            <ngx-charts-bar-vertical [results]="getWaistDailyBar" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                              [xAxisLabel]="getWaistDailylable" [yAxisLabel]="getWaistDailylable" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                              [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks" [showDataLabel]="showDataLabel"
                              [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
                            </ngx-charts-bar-vertical>
                            <hr>
                            <ngx-charts-bar-vertical [results]="getHipsDailyBar" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                              [xAxisLabel]="getHipsDailylable" [yAxisLabel]="getHipsDailylable" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                              [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks" [showDataLabel]="showDataLabel"
                              [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
                            </ngx-charts-bar-vertical>
                             </div>
                          </mat-tab>
                          <mat-tab label="Monthly">
                            <div style="margin-left: 10px;margin-right: 15px;">
                              <div style="margin-top: 20px;">
                            <ngx-charts-bar-vertical [results]="getBustMonthlyBar" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                              [xAxisLabel]="getBustMonthlylable" [yAxisLabel]="getBustMonthlylable" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                              [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks" [showDataLabel]="showDataLabel"
                              [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
                            </ngx-charts-bar-vertical>
                          </div>
                            <hr>
                            <ngx-charts-bar-vertical [results]="getWaistMonthlyBar" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                              [xAxisLabel]="getWaistMonthlylable" [yAxisLabel]="getWaistMonthlylable" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                              [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks" [showDataLabel]="showDataLabel"
                              [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
                            </ngx-charts-bar-vertical>
                            <hr>
                            <ngx-charts-bar-vertical [results]="getHipsMonthlyBar" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                              [xAxisLabel]="getHipsMonthlylable" [yAxisLabel]="getHipsMonthlylable" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                              [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks" [showDataLabel]="showDataLabel"
                              [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
                            </ngx-charts-bar-vertical>
                             </div>
                          </mat-tab>
                        </mat-tab-group>
                       </div>
                    </div>

                    <div class="tab-pane fade pt-2" id="v-pills-steps" role="tabpanel" aria-labelledby="v-pills-steps-tab">
                      <div style="margin-left: 10px;">
                        <mat-tab-group>
                          <mat-tab label="Daily">
                            <div style="margin-left: 10px;margin-right: 15px;">
                              <div style="margin-top: 20px;">
                            <ngx-charts-bar-vertical [results]="getStepsDailyBar" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                              [xAxisLabel]="getStepsDailylable" [yAxisLabel]="getStepsDailylable" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                              [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks_steps" [showDataLabel]="showDataLabel"
                              [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
                            </ngx-charts-bar-vertical>
                          </div>                     
                             </div>
                          </mat-tab>
                          <mat-tab label="Monthly">
                            <div style="margin-left: 10px;margin-right: 15px;">
                              <div style="margin-top: 20px;">
                            <ngx-charts-bar-vertical [results]="getStepsMonthlyBar" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                              [xAxisLabel]="getStepsMonthlylable" [yAxisLabel]="getStepsMonthlylable" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                              [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks_steps" [showDataLabel]="showDataLabel"
                              [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
                            </ngx-charts-bar-vertical>
                          </div>
                             </div>
                          </mat-tab>
                        </mat-tab-group>
                       </div>
                    </div>

                    <div class="tab-pane fade pt-2" id="v-pills-sleep" role="tabpanel" aria-labelledby="v-pills-sleep-tab">
                      <div style="margin-left: 10px;">
                        <mat-tab-group>
                          <mat-tab label="Daily">
                            <div style="margin-left: 10px;margin-right: 15px;">
                              <div style="margin-top: 20px;">
                            <ngx-charts-bar-vertical [results]="getSleepDailyBar" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                              [xAxisLabel]="getSleepDailylable" [yAxisLabel]="getSleepDailylable" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                              [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks_sleep" [showDataLabel]="showDataLabel"
                              [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
                            </ngx-charts-bar-vertical>
                          </div>                     
                             </div>
                          </mat-tab>
                          <mat-tab label="Monthly">
                            <div style="margin-left: 10px;margin-right: 15px;">
                              <div style="margin-top: 20px;">
                            <ngx-charts-bar-vertical [results]="getSleepMonthlyBar" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                              [xAxisLabel]="getSleepMonthlylable" [yAxisLabel]="getSleepMonthlylable" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                              [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks_sleep" [showDataLabel]="showDataLabel"
                              [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
                            </ngx-charts-bar-vertical>
                          </div>
                             </div>
                          </mat-tab>
                        </mat-tab-group>
                       </div>
                    </div>

                    <div class="tab-pane fade pt-2" id="v-pills-heart" role="tabpanel" aria-labelledby="v-pills-heart-tab">
                      <div style="margin-left: 10px;">
                        <mat-tab-group>
                          <mat-tab label="Daily">
                            <div style="margin-left: 10px;margin-right: 15px;">
                              <div style="margin-top: 20px;">
                            <ngx-charts-bar-vertical [results]="getHeartDailyBar" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                              [xAxisLabel]="getHeartDailylable" [yAxisLabel]="getHeartDailylable" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                              [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks_heart" [showDataLabel]="showDataLabel"
                              [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
                            </ngx-charts-bar-vertical>
                          </div>                     
                             </div>
                          </mat-tab>
                          <mat-tab label="Monthly">
                            <div style="margin-left: 10px;margin-right: 15px;">
                              <div style="margin-top: 20px;">
                            <ngx-charts-bar-vertical [results]="getHeartMonthlyBar" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                              [xAxisLabel]="getHeartMonthlylable" [yAxisLabel]="getHeartMonthlylable" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                              [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks_heart" [showDataLabel]="showDataLabel"
                              [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
                            </ngx-charts-bar-vertical>
                          </div>
                             </div>
                          </mat-tab>
                        </mat-tab-group>
                       </div>
                    </div>


                    <div class="tab-pane fade pt-2" id="v-pills-period" role="tabpanel" aria-labelledby="v-pills-period-tab">
                      <div style="margin-left: 10px;">
                        <div *ngIf="selectedType == 'Bar'" style="margin-left: 10px;">
                          <ngx-charts-bar-vertical [results]="getPeriodMonthlyBar" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                          [xAxisLabel]="xAxisLabel" [yAxisLabel]="getPeriodMonthlylable" [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines" [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                          [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks_period" [showDataLabel]="showDataLabel"
                          [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
                        </ngx-charts-bar-vertical>
                         </div>
                         <div *ngIf="selectedType == 'Line'" style="margin-left: 10px;">
                          <ngx-charts-pie-chart [results]="getHeartMonthlyBar" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType" [legend]="legend"
                          [legendTitle]="legendTitle" [legendPosition]="legendPosition" [animations]="animations" 
                          [tooltipDisabled]="tooltipDisabled">
                        </ngx-charts-pie-chart>
                         </div>
                       </div>
                    </div>

                    <div class="tab-pane fade pt-2" id="v-pills-meal" role="tabpanel" aria-labelledby="v-pills-meal-tab">
                      <div style="margin-left: 10px; margin-right: 20px;">
                        <div *ngIf="!mealData">
                        <h1>No Data Available</h1>
                        </div>
                            <div *ngIf="mealData">
        
                              <table class="table table-bordered">
                                <thead>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let day of mealData">
                                    <td class="fw-bold table-warning">{{ day.days }}</td>
                                    <td *ngFor="let mealType of day.meal">
                                     <span class="text-decoration-underline"> {{mealType.menuType == 0 ?"Breakfast":""}}</span>
                                     <span class="text-decoration-underline"> {{mealType.menuType == 1 ?"Lunch":""}}</span>
                                     <span class="text-decoration-underline"> {{mealType.menuType == 2 ?"Dinner":""}}</span>
                                     <span class="text-decoration-underline"> {{mealType.menuType == 3 ?"Snack":""}}</span>
                                     <span class="text-decoration-underline"> {{mealType.menuType == 4 ?"Supplement":""}}</span>
                                     <span class="text-decoration-underline"> {{mealType.menuType == 5 ?"Water":""}}</span>
                                     <span class="text-decoration-underline"> {{mealType.menuType == 6 ?"ExtraBites":""}}</span>
                                     <span class="text-decoration-underline"> {{mealType.menuType == 7 ?"Recommended":""}}</span>
                                      <ul>
                                        <li *ngFor="let menuItem of mealType.name">{{ menuItem }}</li>
                                      </ul>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>

                            </div>
                       </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div
        class="d-flex justify-content-start align-items-center flex-column w-25"
      >
        <div class="section user-health">
          <div class="user-health-header">
            {{ "MOBILE_USERS.ALLERGIES_DISLIKES_RISKS" | translate }}
          </div>
          <div>
            <div class="user-health-details">
              <span class="user-health-details-key">{{
                "MOBILE_USERS.ALLERGY" | translate
              }}</span>
              <span class="user-health-details-value">{{
                userDetails?.allergies
                  | arrayToString : ("SHARED.NOT_AVAILABLE" | translate)
              }}</span>
            </div>
            <div class="user-health-details">
              <span class="user-health-details-key">{{
                "MOBILE_USERS.DISLIKE" | translate
              }}</span>
              <span class="user-health-details-value">{{
                userDetails?.dislikes
                  | arrayToString : ("SHARED.NOT_AVAILABLE" | translate)
              }}</span>
            </div>
            <div class="user-health-details">
              <span class="user-health-details-key">{{
                "MOBILE_USERS.RISKS" | translate
              }}</span>
              <span class="user-health-details-value">{{
                userDetails?.userRisks
                  | arrayToString : ("SHARED.NOT_AVAILABLE" | translate)
              }}</span>
            </div>
          </div>
          <div class="w-100 d-flex justify-content-center">
            <button class="nut-btn mb-3 px-3" (click)="openMoreDetailsDialog()">
              {{ "MOBILE_USERS.MORE_INFO_LABEL" | translate }}
            </button>
          </div>
        </div>
        <div class="p-3 d-flex justify-content-between align-items-center">
          <div *ngIf="userDetails?.isSubscribed">
            <button
              *ngxPermissionsOnly="'canAssignMealPlanToAppUsers'"
              mat-flat-button
              color="primary"
              (click)="
                router.navigateByUrl(
                  '/plans/templates/user/' + userDetails?.id
                )
              "
            >
              {{ "MEALS_PLAN.CHOOSE_FROM_TEMPLATE" | translate }}
            </button>
          </div>

          <!--          {{ "MEALS_PLAN.ADD_NEW_PLAN" | translate }}-->
        </div>
        <div class="section user-health">
          <div class="user-health-header">
            {{ "MEALS_PLAN.LAST_USED_TEMPLATES" | translate }}
          </div>
          <div class="user-health-details">
            <div *ngIf="userDetails?.lastUsedTemplates; let templates">
              <p *ngFor="let template of templates">
                {{ template.startDate | date : "dd/MM" }}
                {{ template.templateName }}
                <button
                mat-icon-button 
                color="warn" 
                (click)="deleteMealPlan(template.mealPlanId,userDetails.id)"
              >
              <mat-icon>delete</mat-icon>
              </button>
         
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      class="message-icon"
      href="https://dashboard.kommunicate.io/"
      target="_blank"
    >
      <i class="fas fa-message"></i>
    </a>
  </div>
</div>

<ng-template #mealPlan let-item="plan">
  <div *ngIf="item; else noPlan">
    <div class="p-3">
      <div class="row">
        <ng-template
          [ngTemplateOutlet]="meal"
          [ngTemplateOutletContext]="{
            meal: item[currentPlanSelectedDay].mens[mealTypes.Breakfast],
            mealType: mealTypes.Breakfast
          }"
        ></ng-template>
        <ng-template
          [ngTemplateOutlet]="meal"
          [ngTemplateOutletContext]="{
            meal: item[currentPlanSelectedDay].mens[mealTypes.Lunch],
            mealType: mealTypes.Lunch
          }"
        ></ng-template>
        <ng-template
          [ngTemplateOutlet]="meal"
          [ngTemplateOutletContext]="{
            meal: item[currentPlanSelectedDay].mens[mealTypes.Dinner],
            mealType: mealTypes.Dinner
          }"
        ></ng-template>
      </div>
      <div class="row">
        <ng-template
          [ngTemplateOutlet]="meal"
          [ngTemplateOutletContext]="{
            meal: item[currentPlanSelectedDay].mens[mealTypes.Snacks],
            mealType: mealTypes.Snacks
          }"
        ></ng-template>
        <ng-template
          [ngTemplateOutlet]="meal"
          [ngTemplateOutletContext]="{
            meal: item[currentPlanSelectedDay].mens[mealTypes.Supplements],
            mealType: mealTypes.Supplements
          }"
        ></ng-template>

        <ng-template
          [ngTemplateOutlet]="meal"
          [ngTemplateOutletContext]="{
            meal: item[currentPlanSelectedDay].mens[mealTypes.ExtraBites],
            mealType: mealTypes.ExtraBites
          }"
        ></ng-template>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noPlan>
  <div
    class="w-100 h-100 my-5 d-flex justify-content-center align-items-center flex-column"
  >
    <img
      src="../../../../assets/media/no-data-placeholder.png"
      alt="No Plan Yet"
    />

    <div class="d-flex justify-content-center align-items-center flex-column">
      <span>Meal plan will be</span>
      <span>shown here</span>
    </div>
  </div>
</ng-template>

<ng-template #meal let-item="meal" let-currentMealType="mealType">
  <div
    *ngIf="meal && item?.mealNames"
    class="col meal-container d-flex flex-column justify-content-between"
  >
    <div>
      <p>
        {{
          "MEALS.MEALS_LABELS." +
            (currentMealType | enumKey : mealTypes | uppercase) | translate
        }}
      </p>
      <p *ngFor="let mealName of item?.mealNames || []">{{ mealName }}</p>
    </div>

    <div>
      <hr />
      <div class="d-flex justify-content-start align-items-center flex-wrap">
        <span *ngIf="item?.isEaten" class="meal-badge eaten-badge">
          Eaten
        </span>
        <span *ngIf="item?.isSwapped" class="meal-badge swapped-badge">
          Swaped
        </span>
        <span *ngIf="item?.isSkipped" class="meal-badge skipped-badge">
          Skipped
        </span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noPermission>
  <div class="w-100 h-100 d-flex justify-content-center align-content-center">
    You don't have correct Perrmission
  </div>
</ng-template>
