<div
  *ngIf="recipeDetails$ | async; let recipeDetails"
  class="p-5 w-100 d-flex flex-column justify-content-center align-items-center"
>
  <!-- <div
    class="w-100 alert alert-primary"
    *ngIf="recipeDetails?.id && !recipeDetails.canEdit"
  >
    {{ "MEALS.PART_OF_MEAL_PLAN" | translate }}
  </div> -->

  <div class="w-100 d-flex justify-content-start">
    <div class="w-100 mb-3 d-flex justify-content-start flex-wrap">
      <h2 class="meal-name text-break">{{ recipeDetails.name }}</h2>
      <div
        *ngIf="
          recipeDetails.mealType == mealType.Supplements;
          else nonSupplements
        "
      ></div>
      <ng-template #nonSupplements>
        <div class="vertical-breaker"></div>
        <div class="mx-3 d-flex flex-column justify-content-center">
          <h2>{{ recipeDetails.preparingTime }}</h2>
          <p>{{ "MEALS.PREP_TIME" | translate }}</p>
        </div>
        <div class="vertical-breaker"></div>
        <div class="mx-3 d-flex flex-column justify-content-center">
          <h2>{{ recipeDetails.cockingTime }}</h2>
          <p>{{ "MEALS.COOK_TIME" | translate }}</p>
        </div>
        <div class="vertical-breaker"></div>
        <div class="mx-3 d-flex flex-column justify-content-center">
          <h2>{{ recipeDetails.service }}</h2>
          <p>{{ "MEALS.Serve" | translate }}</p>
        </div>
      </ng-template>
      <div class="vertical-breaker"></div>
      <div class="mx-3 d-flex flex-column justify-content-center">
        <h2>
          {{
            (mealType[recipeDetails.mealType])
              | translate
          }}
        </h2>
        <p>{{ "MEALS.LABEL" | translate }}</p>
      </div>
      <div class="vertical-breaker"></div>
      <div class="mx-3 d-flex flex-column justify-content-center">
        <h2>
          {{
            (recipeType[recipeDetails.recipeTypeId])
              | translate
          }}
        </h2>
        <p>{{ "MEALS.LABEL_RECIPE" | translate }}</p>
      </div>
    </div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #optionsMenu="matMenu">
        <button mat-menu-item (click)="editRecipe()">
          {{ "SHARED.EDIT" | translate }}
        </button>
        <button *ngIf="recipeDetails?.id && recipeDetails.canEdit" mat-menu-item class="text-danger" (click)="deleteRecipe()">
          {{ "SHARED.DELETE" | translate }}
        </button>
      </mat-menu>
    </div>
  </div>

  <img
    [alt]="recipeDetails.name"
    [src]="recipeDetails.coverImage"
    class="meal-image w-100"
  />

  <div class="w-100 d-flex justify-content-start align-items-start mt-3">
    <div
      *ngIf="recipeDetails.mealType != mealType.Supplements"
      class="meal-container margin-end-3"
    >
      <h2 >{{ "MEALS.INGREDIENTS" | translate }}</h2>
      <p
        class="text-break"
        *ngFor="let ingredient of recipeDetails.ingredients; let index = index"
      >
        {{ index + 1 }}- {{ ingredient.quantity }}

        {{
          "MEALS.MEAL_UNIT_TYPE." + ingredientUnitType[ingredient.unitType]
            | translate
        }}
        {{ ingredient.ingredientName }}
      </p>
    </div>
    <div
      *ngIf="recipeDetails.mealType != mealType.Supplements"
      class="meal-container"
    >
      <h2 >{{ "MEALS.STEPS" | translate }}</h2>
      <p class="text-break">
        {{ recipeDetails.recipeSteps }}
      </p>
    </div>
    <div class="meal-container margin-start-3">
      <h2 >{{ "MEALS.ALLERGIES" | translate | translate }}</h2>
      <p class="text-break">
        {{ recipeDetails.allergies }}
      </p>
    </div><div class="meal-container margin-start-3">
      <h2>{{ "MEALS.Nutraition_Recipe_Per_Serving" | translate }}</h2>
      <p class="text-break">
        {{ "MEALS.Calories" | translate }}: {{ recipeDetails.calories }}
      </p>
      <p class="text-break">
        {{ "MEALS.Carbs" | translate }}: {{ recipeDetails.carbs }}
      </p>
      <p class="text-break">
        {{ "MEALS.Protein" | translate }}: {{ recipeDetails.protein }}
      </p>
      <p class="text-break">
        {{ "MEALS.Fat" | translate }}: {{ recipeDetails.fat }}
      </p>
    </div>
  </div>
</div>
