<div class="page">
  <div class="header">
    <div class="container">
      <p class="title">FAQS for Nutrisha</p>
    </div>
  </div>
  <div class="translations-content-container">
    <div class="container">
      <div class="">
        <div class="aHl"></div>
        <div id=":zp" tabindex="-1"></div>
        <div id=":zi" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0.">
          <div id=":10n" class="a3s aiL ">
            <div dir="ltr">
              <h2 style="text-align:center"><b>Frequently Asked Questions (FAQ)</b></h2>
              <p>Last updated: 2023-11-06</p>
              
              <p><b>Q: What is Nutrisha?</b></p>
              <p><b>A:</b> Nutrisha is an authentic and reliable nutrition mobile app that has been thoughtfully designed to support your health and wellness journey. With personalized meal plans, intuitive tracking tools, and expert insights, Nutrisha is your trusted companion in achieving your nutrition goals.</p>
              
              <p><b>Q: How does Nutrisha provide nutritional analysis?</b></p>
              <p><b>A:</b> Nutrisha leverages the extensive food database from Edamam.com to offer accurate and detailed nutritional analysis for a wide variety of foods. We take pride in providing you with dependable information to help you make informed decisions about your meals.</p>
              
              <p><b>Q: Can I get tailored meal plans through Nutrisha?</b></p>
              <p><b>A:</b> Absolutely! Nutrisha offers subscription-based tailored meal plans carefully crafted by our team of highly qualified nutritionists and healthcare professionals. With their expertise and a proven track record, our team customizes meal plans to meet your specific needs, health requirements, and lifestyle, ensuring you receive trustworthy guidance on your nutrition journey.</p>
              
              <p><b>Q: Can I manage my subscription within Nutrisha?</b></p>
              <p><b>A:</b> Your satisfaction is important to us. Nutrisha allows you to easily manage your subscription preferences, providing you with control and flexibility. You have the freedom to deactivate auto-renewal or cancel your subscription at any time, while still enjoying the full benefits of your personalized meal plans until the end of the subscription period.</p>
              
              <p><b>Q: What are the different subscription options in Nutrisha?</b></p>
              <p><b>A:</b> Nutrisha offers both a free and premium subscription option to cater to your individual preferences. The free version includes valuable features such as a curated blog, weight and meal logging, and health metric tracking. Our premium subscription unlocks an array of enhanced functionalities and personalized meal plans, thoughtfully designed by our team of nutritionists and healthcare professionals. For detailed pricing information, please refer to the app.</p>
              
              <p><b>Q: Does Nutrisha focus on long-term healthy habits?</b></p>
              <p><b>A:</b> At Nutrisha, we genuinely care about your long-term well-being. Our approach combines evidence-based nutrition principles with cognitive-behavioral therapy (CBT) and psychology-based methods. By addressing both the physical and mental aspects of nutrition, we empower you to develop sustainable and healthy habits for lasting success on your wellness journey.</p>
              
              <p><b>Q: Is Nutrisha available on both iOS and Android?</b></p>
              <p><b>A:</b> Absolutely! Nutrisha is available for download on both iOS and Android devices, making it accessible to a wide range of users. You can find Nutrisha on the App Store for iOS devices and on the Google Play Store for Android devices. Embrace the convenience and reliability of Nutrisha, regardless of your preferred platform.</p>
              
              <p><b>Q: Is my data safe and private with Nutrisha?</b></p>
              <p><b>A:</b> We understand the importance of privacy and security. Nutrisha takes your data protection seriously and adheres to industry-standard encryption protocols. Your personal information remains confidential and secure, and we have implemented robust measures to safeguard your privacy. For detailed information, please review our comprehensive Privacy Policy.</p>

              <p><b>Q: How can I contact Nutrisha's support team?</b></p>
              <p><b>A:</b> We are here to support you every step of the way. If you have any questions, feedback, or concerns, our dedicated support team is genuinely committed to assisting you. Simply reach out to us through the contact section within the Nutrisha app, and we will be delighted to help you.</p>              
              
              <p><b>We hope this FAQ section provides the information you were looking for. If you have any further inquiries, please don't hesitate to reach out to us.</b></p>
            </div>
            <div class="yj6qo"></div>
            <div class="adL">
            </div>
          </div>
        </div>
        <div id=":zt" class="ii gt" style="display:none">
          <div id=":zu" class="a3s aiL "></div>
        </div>
        <div class="hi"></div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
    </div>
  </div>
</div>
