.mat-header-cell {
  background: #2a3042;
  color: white;
}

.mat-column-name {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.mat-column-preparingTime {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-cookingTime {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-filter {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #215121;
  border-radius: 10px;
  margin: 0 5px;
}

.selected-filter {
  background-color: #215121;
  color: white;
}