<div class="bg-white mat-elevation-z8" *ngIf="!meal?.id">
  
</div>

<div class="bg-white mat-elevation-z8">
<div class="meal-search pt-5 pb-0">
  

  <input
    type="text"
    [(ngModel)]="mealName"
    placeholder="{{ 'MEALS.NAME' | translate }}"
    (input)="fetchSuggestions()"
  />
  <ul *ngIf="mealSuggestions.length && !loading && !mealData" class="suggestions">
    <li *ngFor="let suggestion of mealSuggestions" (click)="searchMeal(suggestion);selectSuggestion(suggestion);">
      {{ suggestion }}
    </li>
  </ul>
  <button *ngIf="!loading" class="btn btn-dark mx-3" (click)="searchMeal()">{{ 'MEALS.Generate_Meal' | translate }}</button>
  <button *ngIf="loading" class="btn btn-dark mx-3" (click)="searchMeal()"><span class="spinner-border spinner-border-sm"></span>
    {{ "SHARED.LOADING" | translate }}...</button>
  <button *ngIf="!loading" class="btn btn-outline-danger" (click)="reloadCurrentRoute()">{{ "SHARED.CANCEL" | translate }}</button>
  <mat-slide-toggle  class="meal-switch" [checked]="isChecked" (change)="onToggle($event)">
    <mat-label class="h5 text-dark">{{ "LANGUAGES.ENGLISH_CODE" | translate }}</mat-label>
  </mat-slide-toggle>
  <div *ngIf="error" class="error">{{ "VALIDATION_ERRORS.INVALID_VALUE" | translate }}</div>
</div>
<h2 *ngIf="meal?.id" class="mx-4 pt-4">{{ "PERMISSIONS.canEditMeals" | translate }}</h2>
<h2 *ngIf="!meal?.id" class="mx-4 mt-3 pt-4">{{ "PERMISSIONS.canCreateMeals" | translate }}</h2>
  <div class="px-4 py-4">
    <div *ngIf="results">
      <!-- <h2>النتائج:</h2> -->
      <div class="image-grid">
        <div *ngFor="let result of results" class="image-item" (click)="selectImage(result);">
          <img [src]="result.url" [alt]="result.title" />
        </div>
      </div>
    </div>
  
  </div>
  <form
    [formGroup]="mealForm"
    class="d-flex justify-content-center align-items-start w-100 p-3 pt-0 m-0"
  >
    <div
      class="w-100 same-width-flex d-flex flex-column justify-content-center align-items-center padding-end-2"
    >
      <mat-form-field class="w-100">
        <mat-label>{{ "MEALS.NAME" | translate }}</mat-label>
        <input matInput formControlName="name" maxlength="25" />
        <mat-error>{{
          "VALIDATION_ERRORS.INVALID_VALUE" | translate
        }}</mat-error>
      </mat-form-field>

      <div class="w-100">
        <app-attachment-button
          formControlName="coverImage"
        ></app-attachment-button>
      </div>

      <mat-form-field
        *ngIf="selectedMealType != mealType.Supplements"
        class="w-100"
      >
        <mat-label>{{ "MEALS.STEPS" | translate }}</mat-label>
        <textarea
          class="info-area"
          matInput
          formControlName="steps"
        ></textarea>
        <mat-error>{{
          "VALIDATION_ERRORS.INVALID_VALUE" | translate
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>{{ "MEALS.ALLERGIES" | translate }}</mat-label>
        <input matInput formControlName="allergies" maxlength="10" />
        <mat-error>{{
          "VALIDATION_ERRORS.INVALID_VALUE" | translate
        }}</mat-error>
      </mat-form-field>

      <button
        class="w-100"
        mat-flat-button
        color="primary"
        [disabled]="meal?.canEdit?!meal?.canEdit:!mealData"
        (click)="submit()"
      >
        {{ (meal?.id ? "SHARED.EDIT" : "SHARED.ADD") | translate }}
      </button>
    </div>
    <div class="same-width-flex padding-start-2">
      <mat-form-field class="w-100">
        <mat-label>{{ "MEALS.LABEL" | translate }}</mat-label>
        <mat-select
          formControlName="label"
          (valueChange)="mealTypeChanged($event)"
        >
          <mat-option *ngFor="let type of mealTypeKeys" [value]="type">
            {{ "MEALS.MEAL_TYPE_ENUM." + type.toString() | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="d-flex justify-content-center align-items-center">
        <mat-form-field
          *ngIf="selectedMealType != mealType.Supplements"
          class="w-100 margin-end-2"
        >
          <mat-label>{{ "MEALS.PREP_TIME" | translate }}</mat-label>
          <input matInput formControlName="prepTime" maxlength="7" />
          <mat-error>{{
            "VALIDATION_ERRORS.INVALID_VALUE" | translate
          }}</mat-error>
        </mat-form-field>

        <mat-form-field
          *ngIf="selectedMealType != mealType.Supplements"
          class="w-100"
        >
          <mat-label>{{ "MEALS.COOK_TIME" | translate }}</mat-label>
          <input matInput formControlName="cockingTime" maxlength="7" />
          <mat-error>{{
            "VALIDATION_ERRORS.INVALID_VALUE" | translate
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="d-flex justify-content-center align-items-center">
        <mat-form-field
          *ngIf="selectedMealType != mealType.Supplements"
          class="w-100"
        >
          <mat-label>{{ "MEALS.Serve" | translate }}</mat-label>
          <input matInput formControlName="service" maxlength="200" />
          <mat-error>{{
            "VALIDATION_ERRORS.INVALID_VALUE" | translate
          }}</mat-error>
        </mat-form-field>
      </div>

      <div
        *ngIf="selectedMealType != mealType.Supplements"
        class="d-flex flex-column"
      >
        <div>
          <p>{{ "MEALS.INGREDIENTS" | translate }}</p>
          <div formArrayName="ingredients">
            <div
              *ngFor="let control of ingredientsForm.controls; let i = index"
              [formGroupName]="i"
              class="d-flex justify-content-center align-items-center"
            >
              <mat-form-field class="w-100">
                <mat-label>{{
                  "MEALS.INGREDIENT.QUANTITY" | translate
                }}</mat-label>
                <input
                  type="number"
                  matInput
                  formControlName="quantity"
                  min="0"
                />
                <mat-error>{{
                  "VALIDATION_ERRORS.INVALID_VALUE" | translate
                }}</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100 mx-1">
                <mat-label>{{ "MEALS.INGREDIENT.UNIT" | translate }}</mat-label>
                <mat-select formControlName="unitType">
                  <mat-option *ngFor="let type of ingredientUnitTypeKeys" [value]="ingredientUnitType[type]">
                    {{ "MEALS.MEAL_UNIT_TYPE." + type.toString() | translate }}
                  </mat-option>
                </mat-select>

                <mat-error>{{
                  "VALIDATION_ERRORS.INVALID_VALUE" | translate
                }}</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ "MEALS.INGREDIENT.NAME" | translate }}</mat-label>
                <div
                  class="custom-wrapper-example"
                  matAutocompleteOrigin
                  #origin="matAutocompleteOrigin"
                >
                  <input
                    #input
                    (focus)="searchIngredients(input.value)"
                    (input)="
                      $any(ingredientsForm.controls[i]).controls[
                        'name'
                      ].setErrors({
                        invalid: true
                      });
                      searchIngredients(input.value)
                    "
                    matInput
                    [formControl]="
                      $any(ingredientsForm.controls[i]).controls['name']
                    "
                    [matAutocomplete]="auto"
                    [matAutocompleteConnectedTo]="origin"
                  />
                </div>

                <mat-autocomplete
                  #auto="matAutocomplete"
                  (optionSelected)="
                    input.value = $event.option.value;
                    $any(ingredientsForm.controls[i]).controls[
                      'name'
                    ].setErrors(null)
                  "
                >
                  <mat-option
                    *ngIf="input.value.length > 0"
                    (click)="addIngredient(input.value)"
                    [value]="input.value"
                    >{{ "MEALS.NOT_EXIST_INGREDIENT" | translate }}</mat-option
                  >
                  <mat-option
                    *ngFor="let option of ingredients$ | async"
                    [value]="option"
                    >{{ option }}</mat-option
                  >
                </mat-autocomplete>
                <mat-error>{{
                  "VALIDATION_ERRORS.INVALID_VALUE" | translate
                }}</mat-error>
              </mat-form-field>
              <button
              mat-icon-button
              color="warn"
              (click)="removeIngredient(i)"
              aria-label="Remove ingredient"
              >
            <mat-icon>delete</mat-icon>
            </button>
            </div>
          </div>
        </div>

        <button
          class="w-100"
          mat-flat-button
          color="primary"
          (click)="
            $event.preventDefault();
            ingredientsForm.push(createIngredientGroup())
          "
        >
          {{ "MEALS.ADD_MORE_INGREDIENTS" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
