<div class="container my-5">
  <div class="card">
    <div class="card-header">
      <h1 class="mb-3">Send Notifications</h1>
    </div>
    <div class="card-body">
      <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">All Users</button>
          <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Subscribed Users</button>
          <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Unsubscribed Users</button>
          <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Specific User</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="container">
              <h2>Send Notification to All Users</h2>
              <form #form="ngForm" (ngSubmit)="sendNotificationToAllUsers()">
                <div class="mb-3 mt-3">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="titleAll" [(ngModel)]="titleAll" placeholder="Enter title" name="titleAll" required>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Notification content</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="bodyAll" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="container">
              <h2>Send Notification to Subscribed Users</h2>
              <form #form="ngForm" (ngSubmit)="sendNotificationToSubscribedUsers()">
                <div class="mb-3 mt-3">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="titleSubscribed" [(ngModel)]="titleSubscribed" placeholder="Enter title" name="titleSubscribed" required>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Notification content</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="bodySubscribed" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="container">
              <h2>Send Notification to Unsubscribed Users</h2>
              <form #form="ngForm" (ngSubmit)="sendNotificationToUnSubscribedUsers()">
                <div class="mb-3 mt-3">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="titleUnSubscribed" [(ngModel)]="titleUnSubscribed" placeholder="Enter title" name="titleUnSubscribed" required>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Notification content</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="bodyUnSubscribed" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <div class="container">
              <h2>Send Notification to Specific User</h2>
              <form #form="ngForm" (ngSubmit)="sendNotificationToSpecificUser()">
                <div class="mb-3 mt-3">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="titleSpecificUser" [(ngModel)]="titleSpecificUser" placeholder="Enter title" name="titleSpecificUser" required>
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Notification content</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="bodySpecificUser" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
