.button-1 {
    background-color: #ff725a;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.button-1:hover {
    background-color: #ff725a;
}