@use '@angular/material'as mat;

@include mat.core();

$pink-palette: (50: #FF725A,
  100: #FF725A,
  200: #FF725A,
  300: #FF725A,
  400: #FF725A,
  500: #FF725A,
  600: #FF725A,
  700: #FF725A,
  800: #FF725A,
  900: #FF725A,
  A100: #FF725A,
  A200: #FF725A,
  A400: #FF725A,
  A700: #FF725A,
  contrast: (50: #FF725A,
    100: #FF725A,
    200: #FF725A,
    300: #FF725A,
    400: #FF725A,
    500: #FF725A,
    600: #FF725A,
    700: #FF725A,
    800: #FF725A,
    900: #FF725A,
    A100: #FF725A,
    A200: #FF725A,
    A400: #FF725A,
    A700: #FF725A,
  ));

$font-family: Tajawal,
Poppins,
Helvetica,
sans-serif;

$custom-typography: mat.define-typography-config($font-family: $font-family);

$my-primary: mat.define-palette($pink-palette, 500);
$my-accent: mat.define-palette($pink-palette, 500);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
      accent: $my-accent)));

@include mat.core($custom-typography);
@include mat.core-theme($my-theme);
@include mat.button-theme($my-theme);
@include mat.tabs-theme($my-theme);
@include mat.form-field-theme($my-theme);
@include mat.checkbox-theme($my-theme)
