<div class="page">
  <div class="header">
    <div class="container">
      <p class="title">References and Resources for Nutrisha</p>
    </div>
  </div>
  <div class="translations-content-container">
    <div class="container">
      <div class="">
        <div class="aHl"></div>
        <div id=":zp" tabindex="-1"></div>
        <div id=":zi" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0.">
          <div id=":10n" class="a3s aiL ">
            <div dir="ltr">
              <h2 style="text-align:center"><b>References and Resources</b></h2>
              <p>Last updated: 2023-11-06</p>
              
              <p>1. <b>Research Resources:</b></p>
              <p>- Academy of Nutrition and Dietetics: [<b><a href="https://www.eatright.org" target="_blank" >www.eatright.org</a></b>]</p>
              <p>- American Psychological Association: [<b><a href="https://www.apa.org" target="_blank" >www.apa.org</a></b>]</p>
              <p>- American Heart Association: [<b><a href="https://www.heart.org" target="_blank" >www.heart.org</a></b>]</p>
              <p>- National Institute of Mental Health: [<b><a href="https://www.nimh.nih.gov" target="_blank" >www.nimh.nih.gov</a></b>]</p>
              <p>- World Health Organization: [<b><a href="https://www.who.int" target="_blank" >www.who.int</a></b>]</p>
              <p>- Calculate Your Body Mass Index: (<b><a href="https://www.nhlbi.nih.gov/health/educational/lose_wt/BMI/bmi_tbl.htm" target="_blank" >https://www.nhlbi.nih.gov/health/educational/lose_wt/BMI/bmi_tbl.htm</a></b>)</p>
              
              
              <p>2. <b>Scientific Papers:</b></p>
              <p>- O'Brien N, McDonald S, Araújo-Soares V, et al. The features of interventions associated with long-term effectiveness of physical activity interventions in adults aged 55-70 years: a systematic review and meta-analysis. Health Psychology Review, 9(4), 417-433</p>
              <p>- Teixeira PJ, Carraça EV, Markland D, et al. Exercise, physical activity, and self-determination theory: a systematic review. International Journal of Behavioral Nutrition and Physical Activity, 9, 78.</p>
              <p>- Prochaska JO, DiClemente CC. Transtheoretical therapy: toward a more integrative model of change. Psychotherapy: Theory, Research, Practice, Training, 19(3), 276-288.</p>
              <p>- CBT for Weight Loss: Cognitive-behavioral therapy (CBT) in the Treatment of Obesity. [Link to National Association of Cognitive-Behavioral Therapists website]</p>
              <p>- Byrne, S. M., Cooper, Z., & Fairburn, C. G. (2003). Psychological predictors of weight regain in obesity. Behaviour Research and Therapy, 41(11), 1321-1334.</p>
              <p>- Carels, R. A., Wott, C. B., Young, K. M., Gumble, A., Koball, A., & Oehlof, M. W. (2014). Implicit, explicit, and internalized weight bias and psychopathology among treatment-seeking adults. Eating Behaviors, 15(3), 475-478.</p>
              <p>- Mann, T., Tomiyama, A. J., Westling, E., Lew, A. M., Samuels, B., & Chatman, J. (2007). Medicare's search for effective obesity treatments: Diets are not the answer. American Psychologist, 62(3), 220-233.</p>
              <p>- Provencher, V., Polivy, J., Herman, C. P., & Pliner, P. (2009). How confident are you that you could eat healthier than you do now? The Cornell Food and Brand Lab Healthy Eating Quiz. Appetite, 52(2), 222-226.</p>
              <p>- Wadden, T. A., Butryn, M. L., & Byrne, K. J. (2004). Efficacy of lifestyle modification for long-term weight control. Obesity Research, 12(S12), 151S-162S.</p>
              <p>- Castelnuovo, G., Pietrabissa, G., et al. (2017). Cognitive behavioral therapy to aid weight loss in obese patients: Current perspectives. Psychology Research and Behavior Management, 10, 165-173.</p>
              <p>- Islam MM, Poly TN, Walther BA, Jack Li YC. Use of Mobile Phone App Interventions to Promote Weight Loss: Meta-Analysis. JMIR Mhealth Uhealth. 2020 Jul 22;8(7):e17039.</p>
          </div>
            <div class="yj6qo"></div>
            <div class="adL">
            </div>
          </div>
        </div>
        <div id=":zt" class="ii gt" style="display:none">
          <div id=":zu" class="a3s aiL "></div>
        </div>
        <div class="hi"></div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
    </div>
  </div>
</div>
